<ng-container *ngIf="patron$ | async as patron">
  <div style="display: none" class="user-header" fxLayout="row">
    <button mat-flat-button color="secondary" (click)="navigateBack()">
      <mat-icon inline="true">arrow_back_ios</mat-icon>
      {{ 'General.BackToMenu' | translate }}
    </button>
    <span>
      <mat-icon size="20">account_circle</mat-icon>
      <div class="user-header-text">{{ patron.fullName }}</div>
    </span>
  </div>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ 'LibraryCardNumber.CurrentLibraryCardNumbers' | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="patron.matriculationNumber">
        <mat-divider></mat-divider>
        <br />
        {{ 'LibraryCardNumber.CurrentMatriculationNumber' | translate }}
        <br />
        <table>
          <tr>
            <td>
              {{ patron.matriculationNumber }}
              <ng-container *ngIf="patron.dashedMatriculationNumber">
                / {{ patron.dashedMatriculationNumber }}
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
      <mat-divider></mat-divider>
      <br />
      <div *ngIf="patron.libraryCardNumbers.length === 0">
        {{ 'LibraryCardNumber.NoCurrentLibraryCardNumbers' | translate }}
      </div>
      <div *ngIf="patron.libraryCardNumbers.length !== 0">
        {{
          'LibraryCardNumber.CurrentLibraryCardNumbersDescription' | translate
        }}
        <br /><br />
        <table>
          <tr
            *ngFor="
              let item of patron.libraryCardNumbers;
              trackBy: trackLibraryCardNumber
            "
          >
            <td>{{ item.value?.toUpperCase() }}</td>
            <td class="table-cell-remove">
              <div *ngIf="item.alias" style="font-style: italic">
                {{ 'LibraryCardNumber.Alias' | translate }}
              </div>
              <button
                *ngIf="item.removable && item.selector"
                mat-flat-button
                color="secondary"
                [disabled]="loading"
                (click)="remove(item)"
              >
                <mat-icon inline="true">delete</mat-icon>
                {{ 'LibraryCardNumber.Remove' | translate }}
              </button>
            </td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ 'LibraryCardNumber.AddLibraryCardNumber' | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>

      <mat-action-row>
        <form
          [formGroup]="numberForm"
          #formDirective="ngForm"
          (submit)="add(formDirective)"
        >
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Main.LibraryCardNumber' | translate }}</mat-label>
            <input matInput formControlName="newLibraryCardNumber" />
            <mat-error *ngIf="numberForm.invalid">
              {{ 'LibraryCardNumber.FomatError' | translate }}
            </mat-error>
          </mat-form-field>
          <button
            type="submit"
            mat-flat-button
            [disabled]="numberForm.invalid || loading"
            class="slsp-purple-button"
            color="secondary"
          >
            <mat-icon inline="true">add</mat-icon>
            {{ 'LibraryCardNumber.Add' | translate }}
          </button>
        </form>
      </mat-action-row>
    </mat-card-content>
  </mat-card>
</ng-container>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
