<ng-container *ngIf="patron$ | async as patron">
  <div class="slsp-screen">
    <section class="slsp-section" data-section="cards">
      <header class="slsp-section__header">
        <div class="slsp-section__heading">
          <h2 class="slsp-section__title">
            {{ 'LibraryCardNumber.CurrentLibraryCardNumbers' | translate }}
          </h2>
        </div>
      </header>

      <ul class="slsp-data-list">
        <li
          *ngIf="patron.matriculationNumber"
          class="slsp-data-row"
          data-matriculation-number
        >
          <div class="slsp-data-row__content">
            <span class="slsp-data-row__label">
              {{ 'LibraryCardNumber.CurrentMatriculationNumber' | translate }}
            </span>
            <span class="slsp-data-row__value">
              {{ patron.matriculationNumber }}
              <ng-container *ngIf="patron.dashedMatriculationNumber">
                / {{ patron.dashedMatriculationNumber }}
              </ng-container>
            </span>
          </div>
          <span class="slsp-status">
            <mat-icon>lock</mat-icon>
            {{ 'LibraryCardNumber.ManagedIdentifier' | translate }}
          </span>
        </li>

        <li
          *ngFor="
            let item of patron.libraryCardNumbers;
            trackBy: trackLibraryCardNumber
          "
          class="slsp-data-row library-card-number-row"
          data-library-card-number
        >
          <div class="slsp-data-row__content">
            <span class="slsp-data-row__value library-card-number-row__value">
              {{ item.value?.toUpperCase() }}
            </span>
            <span *ngIf="item.alias" class="slsp-data-row__meta">
              {{ 'LibraryCardNumber.Alias' | translate }}
            </span>
          </div>
          <button
            *ngIf="item.removable && item.elementReference"
            mat-stroked-button
            type="button"
            class="slsp-destructive-action"
            data-action="remove-card"
            [disabled]="loading"
            (click)="remove(item)"
          >
            <mat-icon>delete</mat-icon>
            {{ 'LibraryCardNumber.Remove' | translate }}
          </button>
        </li>
      </ul>

      <div
        *ngIf="patron.libraryCardNumbers.length === 0"
        class="slsp-empty-state"
      >
        <mat-icon>credit_card_off</mat-icon>
        <span>
          {{ 'LibraryCardNumber.NoCurrentLibraryCardNumbers' | translate }}
        </span>
      </div>

      <form
        class="slsp-inline-form slsp-inline-form--separated"
        [formGroup]="numberForm"
        #formDirective="ngForm"
        (submit)="add(formDirective)"
      >
        <mat-form-field>
          <mat-label>{{ 'Main.LibraryCardNumber' | translate }}</mat-label>
          <input matInput formControlName="newLibraryCardNumber" />
          <mat-error *ngIf="numberForm.invalid">
            {{ 'LibraryCardNumber.FomatError' | translate }}
          </mat-error>
        </mat-form-field>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="numberForm.invalid || loading"
        >
          <mat-icon>add</mat-icon>
          {{ 'LibraryCardNumber.Add' | translate }}
        </button>
      </form>
    </section>
  </div>
</ng-container>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
