table {
    width: 100%;
    .table-cell-remove {
        text-align: right;
    }
    tr {
        height: 46px;
    }
    td {
        padding: 0px;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
    align-items: flex-end;
    mat-form-field {
        width: 100%;
    }
}
/*
mat-action-row {
    width: 100%;
}
*/
mat-form-field-wrapper {
    padding-bottom: 1rem;
}