
@import './app/main/main.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

@mixin global-styles {
    /* Add global styles here */
    .app-loading .spinner .path {
        stroke: var(--slsp-purple);
    }

    :root 
    {
    --slsp-purple: rgba( 78, 74, 153, 1); // or any global you wish to share with components 
    --slsp-purple-light: #eeeef7;
    }

    .warning {
        color: red;
    }
   
    textarea,
    section,
    .mat-card {
        margin-bottom: 20px;
    }
  
    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: var(--slsp-purple) !important;
    }
      
    .mat-form-field-underline {
        /*change color of underline*/
        background-color: var(--slsp-purple) !important;
    } 
      
    .mat-form-field-ripple {
       /*change color of underline when focused*/
       background-color: var(--slsp-purple) !important;;
    }

    .user-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-header-text {
            vertical-align: middle;
            font-weight: bold;
        }
        .mat-icon {
            vertical-align: middle;
            margin-right: 8px;
            color: var(--slsp-purple);
        }
        span {
            display: flex;
            align-items: center;
        }
    }

    .mat-action-row {
        display: flex;
        justify-content: end;
    }

    .green-icon {
        color: green;
    }

    td {
        padding: 8px;
    }

    .mat-flat-button.slsp-purple-button {
        background-color: var(--slsp-purple) !important;
        color: white !important;
        &:hover {
          background-color: var(--slsp-purple) !important;
        }
    }

    button.mat-button .mat-icon,
    a.mat-button .mat-icon,
    a.mat-raised-button .mat-icon,
    button.mat-flat-button .mat-icon,
    a.mat-stroked-button .mat-icon {
        vertical-align: top;
        font-size: 1.25em;
        padding-right: 4px;
    }
}
