<ng-container *ngIf="patron$ | async as patron">
  <div style="display: none" class="user-header" fxLayout="row">
    <button mat-flat-button color="secondary" (click)="navigateBack()">
      <mat-icon inline="true">arrow_back_ios</mat-icon>
      {{ 'General.BackToMenu' | translate }}
    </button>
    <span>
      <mat-icon size="20">account_circle</mat-icon>
      <div class="user-header-text">{{ patron.fullName }}</div>
    </span>
  </div>
  <br />
  <mat-card class="outer-card">
    <mat-card-header>
      <mat-card-title>
        {{ 'Settings.PreferredAddress' | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <br />
      {{ 'Settings.PreferredAddressDescription' | translate }}
      <a href="https://eduid.ch/" target="_blank">{{
        'Settings.PreferredAddressDescriptionLink' | translate
      }}</a>
      <br /><br />
      <div *ngIf="patron.postalAddresses.length === 0" class="warning">
        {{ 'Settings.NoAddresses' | translate }}
      </div>
      <mat-card
        data-address
        [class.mat-card-purple]="item.preferred"
        *ngFor="let item of patron.postalAddresses; trackBy: trackAddress"
      >
        <mat-card-content>
          <table>
            <tr>
              <td class="address-table-desc" style="white-space: nowrap">
                {{ 'Settings.AddressType' | translate }}
              </td>
              <td>{{ item.types.join(', ') }}</td>
            </tr>
            <tr>
              <td class="address-table-desc">
                {{ 'Settings.Address' | translate }}
              </td>
              <td>
                <ng-container *ngIf="item.line1">{{ item.line1 }}</ng-container
                ><ng-container *ngIf="item.postalCode"
                  ><ng-container *ngIf="item.line1">, </ng-container
                  >{{ item.postalCode }}</ng-container
                ><ng-container *ngIf="item.city"
                  ><ng-container *ngIf="item.line1 || item.postalCode"
                    >, </ng-container
                  >{{ item.city }}</ng-container
                ><ng-container *ngIf="item.country"
                  ><ng-container
                    *ngIf="item.line1 || item.postalCode || item.city"
                    >, </ng-container
                  >{{ item.country }}</ng-container
                >
              </td>
            </tr>
          </table>
          <br />
          <mat-action-row>
            <button
              mat-flat-button
              data-action="prefer"
              [disabled]="item.preferred || !item.elementReference || loading"
              (click)="changePreferredAddress(item)"
              class="slsp-purple-button"
            >
              {{ 'Settings.UseAsPreferred' | translate }}
            </button>
            <span *ngIf="item.preferred" class="label-preferred-address">
              <mat-icon size="20">check</mat-icon>
              {{ 'Settings.PreferredAddress' | translate }}
            </span>
          </mat-action-row>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="false">
    <mat-card-header>
      <mat-card-title>
        {{ 'Settings.UserGroup' | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-action-row>
      <button mat-flat-button color="secondary">
        {{ 'Settings.SaveUserGroup' | translate }}
      </button>
    </mat-action-row>
  </mat-card>
</ng-container>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
