.address-row {
  align-items: flex-end;
}

.address-row--preferred {
  background: var(--slsp-purple-light);
}

.address-row__heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.address-row__address {
  overflow-wrap: anywhere;
  color: var(--slsp-text-secondary);
  font-size: var(--slsp-font-size-body);
  line-height: var(--slsp-line-height-body);
}

@media (max-width: 420px) {
  .address-row {
    align-items: flex-start;
    flex-direction: column;

    button {
      align-self: flex-end;
    }
  }
}
