<div style="display: none;" class="user-header" fxLayout="row">
  <button mat-flat-button color="secondary" (click)="navigateBack()">
    <mat-icon inline=true>arrow_back_ios</mat-icon>
    {{ 'General.BackToMenu' | translate }}
  </button>
  <span>
    <mat-icon size="20">account_circle</mat-icon>
    <div class="user-header-text"> {{currentFullName}} </div>
  </span>
</div>
<br>

<!-- <h2> {{'Blocks.CurrentBlockTitle' | translate}}</h2> -->
<!-- Current Block -->
<mat-card>
  <mat-card-content>
    <div *ngIf="(currentUserBlocks | json) != ({} | json)" class="warning">
      {{'Blocks.ExistingBlocks' | translate}}
    </div>
    <div *ngIf="(currentUserBlocks | json) == ({} | json)">
      {{'Blocks.NoBlocks' | translate}}
    </div>

  </mat-card-content>
</mat-card>

<h2> {{'Main.Block' | translate}}</h2>

<!-- Double Registration -->
<mat-card class="mat-card-with-info">
  <mat-card-header>
    <mat-card-title>
      {{'Blocks.DoubleRegistrations' | translate}}
      <button class="info-button" mat-flat-button (click)="collapsedDouble=!collapsedDouble">
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <div *ngIf="!collapsedDouble" style="font-style: italic;">
      {{'Blocks.DoubleRegistrationsDescription' | translate}}
      <br><br>
    </div>

    <div *ngIf="currentUserBlocks['02']">
      {{'Blocks.CreatedOn' | translate}} {{getDateString(currentUserBlocks['02']['created_date'])}} <br>
      {{'Blocks.ExpiringOn' | translate}} {{getDateString(currentUserBlocks['02']['expiry_date'])}} <br> //TODO: show if
      not expiring
      {{'Blocks.Note' | translate}}: {{currentUserBlocks['02']['block_note']}}
    </div>
    <mat-action-row class="mat-action-row-single" *ngIf="currentUserBlocks['02']">
      <button mat-flat-button color="secondary" (click)="removeUserBlock('02')">
        <mat-icon inline=true>delete</mat-icon>{{'Blocks.RemoveBlock' | translate}}
      </button>
    </mat-action-row>
    <mat-action-row *ngIf="!currentUserBlocks['02']">
      <mat-form-field appearance="fill">
        <mat-label>{{'Blocks.Comment' | translate}}</mat-label>
        <input [(ngModel)]='commentDouble' matInput #first>
      </mat-form-field>
      <button mat-flat-button class="slsp-purple-button" (click)="addUserBlock('02')">
        <mat-icon inline=true>add</mat-icon>{{'Blocks.AddBlock' | translate}}
      </button>
    </mat-action-row>
  </mat-card-content>
</mat-card>


<!-- Wrong Address 03 -->
<mat-card class="mat-card-with-info">
  <mat-card-header>
    <mat-card-title>
      {{'Blocks.WrongAddress' | translate}}
      <button class="info-button" mat-flat-button (click)="collapsedWrong=!collapsedWrong">
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <div *ngIf="!collapsedWrong" style="font-style: italic;">
      {{'Blocks.WrongAddressDescription' | translate}}
      <br><br>
    </div>

    <div *ngIf="currentUserBlocks['03']">
      {{'Blocks.CreatedOn' | translate}} {{getDateString(currentUserBlocks['03']['created_date'])}} <br>
      {{'Blocks.ExpiringOn' | translate}} {{getDateString(currentUserBlocks['03']['expiry_date'])}} <br>
      {{'Blocks.Note' | translate}}: {{currentUserBlocks['03']['block_note']}}
    </div>
    <div *ngIf="currentUserBlocks['03']">
      <br>
      <div class="warning" *ngIf="currentUser.getIsExternal()">
        {{'Blocks.address-block-external-info' | translate}}
      </div>
      <div class="warning" *ngIf="!currentUser.getIsExternal()">
        {{'Blocks.address-block-internal-info' | translate}}
      </div>
    </div>
    <mat-action-row *ngIf="!currentUserBlocks['03']">
      <mat-form-field appearance="fill">
        <mat-label>Comment (optional)</mat-label>
        <input [(ngModel)]='commentWrong' matInput #first>
      </mat-form-field>
      <button mat-flat-button class="slsp-purple-button" (click)="addUserBlock('03')">
        <mat-icon inline=true>add</mat-icon><span>{{'Blocks.AddBlock' | translate}}</span>
      </button>
    </mat-action-row>
  </mat-card-content>
</mat-card>

<!-- New Account -->
<mat-card *ngIf="currentUserBlocks['08']" class="mat-card-with-info">
  <mat-card-header>
    <mat-card-title>
      {{'Blocks.NewAccount' | translate}}
      <button class="info-button" mat-flat-button (click)="collapsedNew=!collapsedNew">
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <div *ngIf="!collapsedNew" style="font-style: italic;">
      {{'Blocks.NewAccountDescription' | translate}}
      <br><br>
    </div>

    <div>
      {{'Blocks.CreatedOn' | translate}} {{getDateString(currentUserBlocks['08']['created_date'])}} <br>
      {{'Blocks.ExpiringOn' | translate}} {{getDateString(currentUserBlocks['08']['expiry_date'])}} <br>
      {{'Blocks.Note' | translate}}: {{currentUserBlocks['08']['block_note']}}
    </div>

    <mat-action-row class="mat-action-row-single">
      <button mat-flat-button color="secondary" (click)="removeUserBlock('08')">
        <mat-icon inline=true>delete</mat-icon>{{'Blocks.RemoveBlock' | translate}}
      </button>
    </mat-action-row>
  </mat-card-content>
</mat-card>


<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>