<ng-container *ngIf="supported && !needsRefresh">
  <button
    mat-icon-button
    type="button"
    data-patron-actions
    [matMenuTriggerFor]="patronMenu"
    [disabled]="loading || activity.busy"
    [attr.aria-label]="'Main.PatronActions' | translate"
    [attr.title]="'Main.PatronActions' | translate"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #patronMenu="matMenu" class="slsp-patron-menu" xPosition="before">
    <button
      mat-menu-item
      type="button"
      (click)="sync()"
      [disabled]="loading || activity.busy"
    >
      <mat-icon aria-hidden="true">sync</mat-icon>
      <span>{{ 'EduIdSync.Action' | translate }}</span>
    </button>
  </mat-menu>
</ng-container>
