<div class="user-header" fxLayout="row">
    <button mat-flat-button color="secondary" (click)="navigateBack()">
        <mat-icon inline=true>arrow_back_ios</mat-icon>
        {{ 'General.BackToMenu' | translate }}
    </button>
    <span>
        <mat-icon size="20">account_circle</mat-icon>
        <div class="user-header-text"> {{currentFullName}} </div>
    </span>
</div>
<br>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Library Card">
        <app-librarycardnumber></app-librarycardnumber>
    </mat-tab>
    <mat-tab label="Settings">
        <app-settings></app-settings>
    </mat-tab>
    <mat-tab label="Blocks">
        <app-block></app-block>
    </mat-tab>
</mat-tab-group>

<div class="please-note">
    <span> {{ 'Main.PleaseNote' | translate }} </span>
    {{ 'Main.TakesAFewMinutes' | translate }}
</div>