<ng-container *ngIf="(entities$ | async)?.length > 0; then entities; else noentities"></ng-container>


<ng-template #noentities>
  <div class="select-entities">
    <h1>
      {{ 'Welcome.Welcome' | translate }}
    </h1>
    <p> {{ 'Welcome.LetsGo' | translate }} </p>
    <ul>
      <li> {{ 'Welcome.Instructions1' | translate }} </li>
      <li> {{ 'Welcome.Instructions2' | translate }} </li>
      <li> {{ 'Welcome.Instructions3' | translate }} </li>
    </ul>
    <div class="highlight"> {{ 'Welcome.Instructions1' | translate }}. </div>
  </div>

</ng-template>

<ng-template #entities>
  <div class="select-entities" *ngIf="!selectedEntity">
    <label id="entities-radio-group-label">Select a user:</label>
    <mat-radio-group aria-labelledby="entities-radio-group-label" class="entities-radio-group"
      [(ngModel)]="selectedEntity" (change)="entitySelected($event)">
      <mat-radio-button *ngFor="let entity of entities$ | async" [value]="entity">
        {{entity.description}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</ng-template>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>