<ng-container *ngIf="vm$ | async as vm; else loading">
  <div
    *ngIf="vm.sandbox"
    class="slsp-environment-banner"
    data-environment-banner
    role="status"
  >
    <mat-icon>warning</mat-icon>
    <span class="slsp-environment-banner__label">
      {{ 'Main.Sandbox' | translate }}
    </span>
    <span>{{ 'Main.SandboxDescription' | translate }}</span>
  </div>

  <div
    *ngIf="
      vm.authorization.status === 'denied' &&
      vm.authorization.reason === 'authentication'
    "
    class="institution-now-allowed"
  >
    <h1>
      <mat-icon inline="true">error</mat-icon>
      {{ 'Welcome.AccessDenied' | translate }}
    </h1>
    <p>
      {{ 'Welcome.InstitutionDenied1' | translate }}
      <a href="https://slsp.ch/en/contact">
        {{ 'Welcome.InstitutionDenied2' | translate }}
      </a>
      {{ 'Welcome.InstitutionDenied3' | translate }}
    </p>
    <p>{{ vm.authorizationMessage }}</p>
  </div>

  <div
    *ngIf="
      vm.authorization.status === 'denied' &&
      vm.authorization.reason === 'authorization'
    "
    class="user-not-allowed"
  >
    <h1>
      <mat-icon inline="true">error</mat-icon>
      {{ 'Welcome.AccessDenied' | translate }}
    </h1>
    <p>{{ 'Welcome.NoRole' | translate }}</p>
    <ul>
      <li>{{ 'Welcome.Fulfillment' | translate }}</li>
      <li>{{ 'Welcome.UserManager' | translate }}</li>
      <li>{{ 'Welcome.GeneralSystem' | translate }}</li>
    </ul>
    <p>{{ vm.authorizationMessage }}</p>
  </div>

  <div *ngIf="vm.authorization.status === 'error'" class="user-not-allowed">
    <h1>
      <mat-icon inline="true">error</mat-icon>
      {{ 'Welcome.AccessDenied' | translate }}
    </h1>
    <p>{{ vm.authorizationMessage }}</p>
  </div>

  <ng-container *ngIf="vm.authorization.status === 'allowed'">
    <div *ngIf="vm.entities.length === 0" class="select-entities">
      <h1>{{ 'Welcome.Welcome' | translate }}</h1>
      <p>{{ 'Welcome.LetsGo' | translate }}</p>
      <ul>
        <li>{{ 'Welcome.Instructions1' | translate }}</li>
        <li>{{ 'Welcome.Instructions2' | translate }}</li>
        <li>{{ 'Welcome.Instructions3' | translate }}</li>
      </ul>
    </div>

    <div
      *ngIf="
        vm.entities.length > 0 &&
        (vm.patron.status === 'empty' ||
          vm.patron.status === 'not-found' ||
          vm.patron.status === 'error')
      "
      class="select-entities"
    >
      <p id="entities-list-label" class="entities-list-label">
        {{ 'Welcome.SelectUser' | translate }}
      </p>
      <mat-action-list
        aria-labelledby="entities-list-label"
        class="entities-action-list"
      >
        <button
          mat-list-item
          *ngFor="let entity of vm.entities; trackBy: trackEntity"
          class="entity-action"
          type="button"
          (click)="entitySelected(entity)"
        >
          <span class="entity-content">
            <span class="entity-name">{{ entity.description }}</span>
          </span>
        </button>
      </mat-action-list>
    </div>
  </ng-container>

  <cloudapp-alert></cloudapp-alert>

  <div class="loading-shade" *ngIf="vm.patron.status === 'loading'">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading-shade">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-template>
